
<md-toolbar color="primary">

    <span>
    <button md-icon-button (click)="start.toggle()">
        <md-icon class="md-24" >menu</md-icon>
                
    </button>
    </span>
    <button md-fab (click)="logout()" class="logout-button-style"><md-icon class="logout-icon-style">exit_to_app</md-icon></button>
        
</md-toolbar>

<!-- <app-toolbar></app-toolbar> -->
<md-sidenav-container class="demo-sidenav-container">
  <md-sidenav #start  mode="side">
    <md-nav-list>
    	<a md-list-item routerLink="/home">Dashboard</a>
        <a md-list-item routerLink="/datatable">User Management</a>
        <a md-list-item href="page2.html">Role Management</a>            
    </md-nav-list>
  </md-sidenav>
  <!-- Main content start -->
  		<h3 md-subheader>Users list</h3>
  		<md-card>
		    <button md-mini-fab>
		    <a routerLink="/addUser" >
		      <md-icon class="md-24">add</md-icon>
		    </a>
		    </button>
		  </md-card>

		<div class="example-container mat-elevation-z8">

		  <md-table #table [dataSource]="dataSource">

		    <!--- Note that these columns can be defined in any order.
		          The actual rendered columns are set as a property on the row definition" -->

		    <!-- ID Column -->
		    <ng-container cdkColumnDef="userId">
		      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
		    </ng-container>

		    <!-- Progress Column -->
		    <!-- <ng-container cdkColumnDef="progress">
		      <md-header-cell *cdkHeaderCellDef> Progress </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.progress}}% </md-cell>
		    </ng-container> -->

		    <!-- Name Column -->
		    <ng-container cdkColumnDef="userName">
		      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="createdDate">
		      <md-header-cell *cdkHeaderCellDef> Created Date </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.createdAt}} </md-cell>
		    </ng-container>

		    <!-- <ng-container cdkColumnDef="Subcategory">
		      <md-header-cell *cdkHeaderCellDef> Sub category </md-header-cell>
		      <md-cell *cdkCellDef="let row" *ngIf="row.subcategory.length > 0"> {{row.subcategory[0].name}} </md-cell>		      
		    </ng-container> -->

		    <ng-container  cdkColumnDef="Action">
		      <md-header-cell *cdkHeaderCellDef> Action </md-header-cell>
		        <md-cell *cdkCellDef="let row"> 
		        <button md-raised-button>Edit</button>
		        <button md-raised-button>Delete</button>
		        </md-cell>  
		       
		    </ng-container>

		    <!-- <md-button class="md-icon-button md-primary" aria-label="Editar"
                                       ng-click="vm.editar(usuario)">
                                <md-icon md-svg-icon="../images/icon/ic_mode_edit_black_18px.svg"></md-icon>
                            </md-button> -->

		    <!-- Color Column -->
		    <!-- <ng-container cdkColumnDef="color">
		      <md-header-cell *cdkHeaderCellDef> Color </md-header-cell>
		      <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
		    </ng-container> -->

		    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
		    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
		  </md-table>

		  <md-paginator #paginator
		                [length]="exampleDatabase.data.length"
		                [pageIndex]="0"
		                [pageSize]="10"
		                [pageSizeOptions]="[5, 10, 25, 100]">
		  </md-paginator>
		</div>

  <!-- Main content start -->
  
  </md-sidenav-container>

<!-- <h2>Material Data Table with dynamic rows</h2>
    <md-table [dataSource]="dataSource" #table>
         
        <ng-container [cdkColumnDef]="userId">
          <md-header-cell *cdkHeaderCellDef md-sort-header>ID</md-header-cell>
          <md-cell *cdkCellDef="let row">
            {{row.id}}
          </md-cell>
        </ng-container>
      

       <ng-container [cdkColumnDef]="userName">
          <md-header-cell *cdkHeaderCellDef md-sort-header>Cat Name</md-header-cell>
          <md-cell *cdkCellDef="let row">
            {{row.name}}
          </md-cell>
        </ng-container>
     
    
      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    
    </md-table> -->

