.demo-sidenav-container {
  

  .mat-sidenav-focus-trap > .cdk-focus-trap-content {
    padding: 10px;
  }
}

.demo-sidenav-content {
  padding: 15px;
}

.md-sidenav {
  width: 200px;
}

body
{
    margin: 0;
    font-family: Roboto, sans-serif;
}

md-sidenav-container
{
  min-height: 538px;
}

/ Structure /
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  margin: auto 20px;
}

md-toolbar-row {
  justify-content: space-between;
}

.logout-button-style
{
  width: 40px !important;
  height: 40px !important;
}

.logout-icon-style
{
  padding: 8px 0 !important;
}

.subheader-custom-style
{
  width: 95%;
  display: inline-block !important; 
}
.header-color
{
  background-color: #ffebcc;
}
.nav-bg-color
{
  background-color: #3a1211;
  box-shadow: 2px 0px 10px grey;
}
.nav-text-color
{
  border-bottom: 1px solid #ffebcc;
  color: #ffebcc !important;
}
.link-color
{
  color: #3f51b5;
}
.user-form-style
{
  margin: 0px auto !important;
  padding: 1em 2em !important;
  background-color: white !important;
}
.text-align-center
{
  text-align: center;
}
md-input-container
{
  width: 100%;
}