<md-toolbar class="header-color">
  <span>
  <button md-icon-button (click)="start.toggle()">
    <md-icon class="md-24" >menu</md-icon>                
  </button>
  </span>
  <button md-mini-fab (click)="logout()"><md-icon>exit_to_app</md-icon></button>        
</md-toolbar>

<md-sidenav-container class="demo-sidenav-container">
  <md-sidenav #start  mode="side" class="nav-bg-color">
  <md-nav-list>
    <a md-list-item class="nav-text-color" routerLink="/home">Dashboard</a>
    <a md-list-item class="nav-text-color" routerLink="/users">User Management</a>
    <a md-list-item class="nav-text-color" href="page2.html">Role Management</a>            
  </md-nav-list>
  </md-sidenav>
  <!-- Main content start -->
      <div>
        <h3 md-subheader class="subheader-custom-style">Dashboard</h3>
    </div>
</md-sidenav-container>